<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>payResult</title>
    <link rel="stylesheet" href="/css/payResultPage.css">
</head>
<body>
    <div layout:fragment="content" class="content">
        <div class="payResult">
            <h1 th:text="${payResult}">결제 결과</h1>
            <br>
            <a href="/mainPage">메인페이지</a>
        </div>
    </div>
</body>
</html>