<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
    <div layout:fragment="content">
        <div style="border: black solid 1px">
            <div>
                <label for="userId">userId :</label>
                <span id="userId" th:text="${session.memberInfo.getEmail()}"></span>
            </div>
            <div>
                <label for="password">Password :</label>
                <input type="text" id="password"/>
            </div>
        </div>
    </div>
</body>
</html>