<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/mainPage.css">
</head>
<body>
<div layout:fragment="content">
    <div id="body">
        <form id="joinForm" action="/join/join" method="post">
            <label>아이디 : </label>
            <input type="text" id="userId" name="userId">
            <label>비밀번호 : </label>
            <input type="text" id="password" name="password">
            <input type="text" id="userName" name="userName">
            <input type="text" id="phoneNumber" name="phoneNumber">
            <input type="text" id="address" name="address">
            <input type="text" id="userType" name="userType">
            <button type="submit" class="submit">가입하기</button>
        </form>
    </div>
</div>
</body>
</html>