.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img img {
    width: 250px;
    height: 170px;
}
.inputBox {
    margin-top: 40px;
}
.email,
.password {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.email input,
.password input {
    width: 200px;
    height: 30px;
    font-size: 14px;
    border: 0;
    border-radius: 50px;
    background-color: gainsboro;
}
.submit {
    background: url("../image/login_button-icon.png") no-repeat;
    background-size: contain;
    border: 0;
    height: 45px;
    width: 100px;
    margin-top: 40px;
}
.signUp-button {
    background: url("../image/sign_up-icon.png") no-repeat;
    background-size: contain;
    border: 0;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}